{% load staticfiles %}
<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if IE 8]> <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8" />

    <!-- Set the viewport width to device width for mobile -->
    <meta name="viewport" content="width=device-width" />

    <title>PhotoPlanet - All Photos</title>

    <link rel="stylesheet" href="{% static "css/normalize.css" %}">
    <link rel="stylesheet" href="{% static "css/app.css" %}">

    <script src="{% static "js/vendor/custom.modernizr.js" %}"></script>

</head>
<body>

<!-- Nav Bar -->

<div class="row">
    <div class="large-12 columns">
        <div class="nav-bar right hide-for-small">
            <ul class="button-group">
                <li><a href="{% url 'day' %}" class="button">Today</a></li>
                <li><a href="{% url 'all' %}" class="button">All</a></li>
                <li><a href="{% url 'about' %}" class="button">About</a></li>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'logout' %}" class="button">Logout</a></li>
                {% else %}
                    <li><a href="{% url 'login' %}" class="button">Login</a></li>
                {% endif %}
            </ul>
        </div>
        <h1>
            <a href="/">PhotoPlanet</a>
            <small>It's awesome.</small></h1>
        <hr />
    </div>
</div>
<!-- End Nav -->


<!-- Main Page Content and Sidebar -->

<div class="row">

    <!-- Main Blog Content -->
    <div class="large-9 columns" role="content">

        <article>

            <div class="row">
                <div class="large-4 columns hide-for-small">
                    <img src="{% static "img/ctason_avatar.jpg" %}" alt="avatar" />
                    <h6><a href="#">@vitaods</a></h6>
                </div>
                <div class="large-8 columns centered">
                    <img src="{% static "img/ctason.jpg" %}" /><br />
                    <h6 class="show-for-small"><a href="#">@ctason</a></h6>
                    <div class="voting">
                        <a href="#">up</a> |
                        <a href="#">down</a>
                    </div>
                </div>
            </div>

        </article>

        <hr />

        <article>

            <div class="row">
                <div class="large-4 columns hide-for-small">
                    <img src="{% static "/img/eceannakaki_avatar.jpg" %}" alt="avatar" />
                    <h6><a href="#">@eceannakaki</a></h6>
                </div>
                <div class="large-8 columns centered">
                    <img src="{% static "img/eceannakaki.jpg" %}" />
                    <h6 class="show-for-small"><a href="#">@eceannakaki</a></h6>
                    <div class="voting">
                        <a href="#">up</a> |
                        <a href="#">down</a>
                    </div>
                </div>
            </div>

        </article>

        <hr />

        <article>

            <div class="row">
                <div class="large-4 columns hide-for-small">
                    <img src="{% static "img/eceannakaki_avatar.jpg" %}" alt="avatar" />
                    <h6><a href="#">@rolenyatko</a></h6>
                </div>
                <div class="large-8 columns centered">
                    <img src="{% static "img/eceannakaki2.jpg" %}" />
                    <h6 class="show-for-small"><a href="#">@eceannakaki</a></h6>
                    <div class="voting">
                        <a href="#">up</a> |
                        <a href="#">down</a>
                    </div>
                </div>
            </div>

        </article>

        <hr />

        <article>

            <div class="row">
                <div class="large-4 columns hide-for-small">
                    <img src="{% static "img/leothqueenava.jpg" %}" alt="avatar" />
                    <h6><a href="#">@vitaods</a></h6>
                </div>
                <div class="large-8 columns centered">
                    <img src="{% static "/static/img/leothqueen1.jpg" %}" />
                    <h6 class="show-for-small"><a href="#">@leothqueen</a></h6>
                    <div class="voting">
                        <a href="#">up</a> |
                        <a href="#">down</a>
                    </div>
                </div>
            </div>

        </article>

        <hr />

        <article>

            <div class="row">
                <div class="large-4 columns hide-for-small">
                    <img src="{% static "img/selcukkurtulus_avatar.jpg" %}" alt="avatar" />
                    <h6><a href="#">@vitaods</a></h6>
                </div>
                <div class="large-8 columns centered">
                    <img src="{% static "img/selcukkurtulus.jpg" %}" />
                    <h6 class="show-for-small"><a href="#">@selcukkurtulus</a></h6>
                    <div class="voting">
                        <a href="#">up</a> |
                        <a href="#">down</a>
                    </div>
                </div>
            </div>

        </article>

        <div class="row pagination-row">
            <div class="large-4 columns hide-for-small"></div>
            <div class="large-8 columns pagination-centered">
                <ul class="pagination">
                    <li class="arrow unavailable"><a href="">&laquo;</a></li>
                    <li class="current"><a href="">1</a></li>
                    <li><a href="">2</a></li>
                    <li><a href="">3</a></li>
                    <li><a href="">4</a></li>
                    <li class="unavailable"><a href="">&hellip;</a></li>
                    <li><a href="">12</a></li>
                    <li><a href="">13</a></li>
                    <li class="arrow"><a href="">&raquo;</a></li>
                </ul>
            </div>
        </div>

    </div>

    <!-- End Main Content -->


    <!-- Sidebar -->

    <aside class="large-3 columns">

        <div class="panel">
            <h5>Sidebar</h5>
            <p>Some information may go here.</p>
            <a href="#">Read More &rarr;</a>
        </div>

    </aside>

    <!-- End Sidebar -->
</div>

<!-- End Main Content and Sidebar -->


<!-- Footer -->

<footer class="row">
    <div class="large-12 columns">
        <hr />
        <div class="row">
            <div class="large-6 columns">
                <p>&copy; Copyright no one at all. Go to town.</p>
            </div>
            <div class="large-6 columns">
                <ul class="inline-list right">
                    <li><a href="day.html">Today</a></li>
                    <li><a href="all.html">All</a></li>
                    <li><a href="about.html">About</a></li>
                    <li><a href="../users/login.html">Login</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>

<script>
    document.write('<script src=js/vendor/' +
            ('__proto__' in {} ? 'zepto' : 'jquery') +
            '.js><\/script>')
</script>
<script src="js/foundation.min.js"></script>
<script>
    $(document).foundation();
</script>

<!-- End Footer -->
</body>
</html>